<header>
    
    <div class="grid-giver">
        <a href="http://www.fdnd.nl" target="_blank">
            <img src="/assets/img/fdnd_logo.jfif" class="logo-fdnd" alt="Logo van de AD: FDND">
        </a>

        <div class="grid-receiver">
            <a href="/">
                <h1 class="text-xl">FDND Squad 1G</h1>
            </a>
        </div>
    </div>

</header>