<div class="part-results">
    <section class="person-list">

        <h2 class="text-xl">Resultaten</h2>
        {% for person in persons %}
           {% render "partials/post-types/person-loop.liquid"  person: person%}
        {% endfor %}
    </section>
</div>