{% comment %} <HEAD></HEAD> {% endcomment %}
{% render 'partials/head.liquid', title: 'Squad page' %}
{% comment %} <header></header> {% endcomment %}
{% render 'partials/header.liquid' %}

<main>

  <div class="grid-giver">
    <div class="grid-receiver">
      {% render 'partials/filters_gerecht.liquid' dishes: dishes, persons: persons %}{% comment %} Filter div {% endcomment %}
      {% render 'partials/results_gerecht.liquid' persons: persons fav: fav %} {% comment %} De plaats waar de studenten geloopt worden met hetr geselecteerde favo gerecht (result van de API call) {% endcomment %}
    </div>
  </div>

</main>
{% comment %} Footer {% endcomment %}
{% render 'partials/foot.liquid', squads: squads %}