{% render 'partials/head.liquid', title: 'Squad page' %}
{% render 'partials/header.liquid' %}

<main>

  <div class="grid-giver">
    <div class="grid-receiver">
      {% render 'partials/filters_random.liquid' dishes: dishes, persons: persons %}
      {% render 'partials/results.liquid' persons: persons random :random %}
    </div>
  </div>

</main>

{% render 'partials/foot.liquid', squads: squads %}