main{
    .part-filters{
        background: var(--color-grey-light);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        padding: 13px;
        .filter-inner-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            position: relative;
            row-gap: 7px;
           
            form#searchForm{

                grid-column: 1 / -1;
                grid-row: 1 / 1;
                display: grid;
                label.label-hidden{
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    padding: 0;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0, 0, 0, 0);
                    white-space: nowrap;
                    border: 0;
                }
                input#search{
                    grid-column: 1 / 4;
                    grid-row: 1 / 1;
                    order: 1;
                    width: calc(100% - 73px);
                    padding: 0 7px;
                    border: 0;
                    border: 3px solid var(--color-primary);
                    background-color: var(--color-primary-lighter);
                    font-family: var(--font-family);
                    font-weight: bold;
                    color: var(--color-black);
                    font-size: var(--font-size-l);
                    &::placeholder{
                        color: var(--color-black);
                    }
                    &:focus-visible, &:hover{
                        background-color: var(--color-active-filter);
                    }
                    &:focus{
                        outline-color: var(--color-active-filter-border);
                    }
                    &:hover{
                        border-color: var(--color-active-filter-border);
                    }
                }
                button#searchSubmit{
                    grid-row: 1 / 1;
                    grid-column: 3 / 3;
                    order: 2;
                    width: 58px;
                    height: 58px;
                    display: flex;
                    aspect-ratio: 1 / 1;
                    justify-content: center;
                    margin-left: auto;
                    align-items: center;
                    background-color: var(--color-white);
                    &:focus-visible, &:hover{
                        background-color: var(--color-active-filter);
                    }
                    &:focus{
                        outline-color: var(--color-active-filter-border);
                    }
                    &:hover{
                        border-color: var(--color-active-filter-border);
                    }
                    
                }
            }

            .button-form-container{
                display: flex;
                justify-content: flex-start;
                align-items: center;      
                flex-direction: column;
                &.button-form-container-name-mode, &.button-form-container-random{
                    .button-form-name-mode, .button-form-random{
                        >svg{
                            height: 65px;
                        }
                    }
                }    
                &.button-form-container-name-mode{
                    grid-row: 2 / 2;
                    align-items: flex-start;
                    
                    .button-form-name-mode{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .icon-ひと{
                            display: none;
                            display: none;
                            font-size: 2rem;
                            font-weight: bold;
                        }
                    }

                }
                &.button-form-container-random{
                    grid-row: 2 / 2;
                }
                .button-form{
                    max-width: 89px;
                }
                label{
                    font-size: 0.75rem;
                    max-width: 89px;
                    font-weight: bold;
                    text-align: center;
                    width: 100%;
                    min-height: 38px;
                
                    @media (min-width :335px){
                        font-size: 1rem;
                    }
                }
            }
            form#dishForm{
                height: 100%;
                fieldset.fieldset-filter-dish{
                    border: none;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    align-items: flex-end;
                    select#filter-dish{
                        cursor: pointer;
                        max-width: 89px;
                        max-height: 88px;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                        background-repeat: no-repeat;
                        background-position-x: calc(100% + 5px);
                        background-position-y: 50%;
                        padding: 5px;
                        border: 3px solid var(--color-primary);
                        background-color: var(--color-primary-lighter);
                        display: flex;
                        font-size: 0.75rem;
                        font-family: var(--font-family);
                        font-weight: bold;
                        @media (min-width :335px){
                            padding: 14px 14px 14px 7px;
                        }
                        &:focus, &:hover{
                            background-color: var(--color-active-filter);
                            border-color: var(--color-active-filter-border);
                            outline-color: var(--color-active-filter-border);
                            &+label{
                                color: var(--color-active-filter-border);
                            }
                        }
                    }
                    label.filter-dish-label{
                        width: 89px;
                        font-size: 0.75rem;
                        font-weight: bold;
                        @media (min-width :335px){
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}