main{

    .part-filters{ /* the div below the header, where all the filters are */

        background: var(--color-grey-light);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        z-index: 9;
        position: relative;

        .filter-inner-container{
            padding: 13px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            position: relative;
            row-gap: 7px;
            form#searchForm{

                grid-column: 1 / -1;
                grid-row: 1 / 1;
                display: grid;
                label.label-hidden{
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    padding: 0;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0, 0, 0, 0);
                    white-space: nowrap;
                    border: 0;
                }

                /* Search INPUT */
                input#search{
                    grid-column: 1 / 4;
                    grid-row: 1 / 1;
                    order: 1;
                    width: calc(100% - 54px);
                    padding: 0 7px;
                    border: 0;
                    border: 3px solid var(--color-primary);
                    background-color: var(--color-primary-lighter);
                    font-family: var(--font-family);
                    font-weight: bold;
                    color: var(--color-black);
                    font-size: var(--font-size-l);
                    /* text inside the field when nothing is filled */
                    &::placeholder{
                        color: var(--color-black);
                    }

                    /* States */
                    &:focus-visible, &:hover{
                        background-color: var(--color-active-filter);
                    }
                    &:focus{
                        outline-color: var(--color-active-filter-border);
                    }
                    &:hover{
                        border-color: var(--color-active-filter-border);
                    }
                    @media (min-width: 940px){
                        width: 200px;
                        height: 88px;
                        border-right: 0;
                    }
                }
                /* Search submit button */
                button#searchSubmit{
                    grid-row: 1 / 1;
                    grid-column: 3 / 3;
                    order: 2;
                    width: 58px;
                    height: 58px;
                    display: flex;
                    aspect-ratio: 1 / 1;
                    justify-content: center;
                    margin-left: auto;
                    align-items: center;
                    background-color: var(--color-white);
                    /* States */
                    &:focus, &:hover{
                        background-color: var(--color-active-filter);
                    }
                    &:focus{
                        outline-color: var(--color-active-filter-border);
                    }
                    &:hover{
                        border-color: var(--color-active-filter-border);
                    }
                    @media (min-width: 940px){
                        grid-row: initial;
                        grid-row: initial;
                        height: 88px;
                        width: 88px;
                    }
                }
                @media (min-width: 940px){
                    display: flex;
                }
            }

            /* All square buttons in the filter div */
            .button-form-container{
                display: flex;
                justify-content: flex-start;
                align-items: center;      
                flex-direction: column;
                &.button-form-container-name-mode, &.button-form-container-random{
                    .button-form-name-mode, .button-form-random{
                        >svg{
                            height: 65px;
                        }
                    }
                }    
                /* Bijmodus button container */
                &.button-form-container-name-mode{
                    grid-row: 2 / 2;
                    align-items: flex-start;
                    
                    .button-form-name-mode{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .icon-ひと{
                            display: none;
                            display: none;
                            font-size: 2rem;
                            font-weight: bold;
                        }
                    }

                }
                /* Random button container */
                &.button-form-container-random{
                    grid-row: 2 / 2;
                    @media (min-width: 940px){
                        grid-row: initial;
                        order: 2;
                        margin-left: auto;
                    }
                    label{
                        font-size: 0.75rem;
                        max-width: 89px;
                        font-weight: bold;
                        text-align: center;
                        width: 100%;
                        min-height: 38px;
                        display: block;
                        @media (min-width :335px){
                            font-size: 1rem;
                        }
                    }
                    a.button-form-container-random-link{
                        &:focus, &:hover{
                            .button-form.button-form-random{
                                background-color: var(--color-active-filter);
                                border-color: var(--color-active-filter-border);
                            }
                            label{
                                color: var(--color-active-filter-border);
                            }
                        }
                        &:focus{
                            .button-form.button-form-random{
                                outline-color: var(--color-active-filter-border);
                            }
                        }
                        

                    }
                }
                .button-form{
                    max-width: 89px;
                }
                label{
                    font-size: 0.75rem;
                    max-width: 89px;
                    font-weight: bold;
                    text-align: center;
                    width: 100%;
                    min-height: 38px;
                
                    @media (min-width :335px){
                        font-size: 1rem;
                    }
                }
            }
            /* Dish filter toggler (desktop)*/
            input.filter-dish-list-toggler{    
                position: relative;
                background: white;
                min-width: 175px;
                -webkit-appearance: initial;
                font-size: 14px;
                font-family: Trebuchet, Arial, sans-serif;
                font-weight: bold;
                cursor: pointer;
                height: 88px;
                border: 3px solid var(--color-primary);
                background-color: var(--color-primary-lighter);
                &:after{
                    position:absolute;
                    top:50%;
                    display:block; 
                    line-height:32px;
                    width:100%;
                    translate: 0 -50%;
                    box-sizing:border-box;
                    text-align:center;
                    transition: all 0.3s ease-in 0s; 
                    color:black;
                    font-size: var(--font-size-l);
                    content: attr(data-selected-dish-short);
                    padding: 9px;
                    font-family: var(--font-family);
                }
                &+label{
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    padding: 0;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0, 0, 0, 0);
                    white-space: nowrap;
                    border: 0;
                }
                @media (min-width: 1070px){
                    min-width: 300px;
                    &:after{
                        content: attr(data-selected-dish);
                    }
                }
                &:focus-visible, &:hover{
                    background-color: var(--color-active-filter);
                }
                &:focus{
                    outline-color: var(--color-active-filter-border);
                }
                &:hover{
                    border-color: var(--color-active-filter-border);
                }
            }
            form#dishForm{
                height: 100%;
                fieldset.fieldset-filter-dish{
                    border: none;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    align-items: flex-end;
                    /* Mobile dish filter */
                    select#filter-dish{
                        cursor: pointer;
                        max-width: 89px;
                        max-height: 88px;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                        background-repeat: no-repeat;
                        background-position-x: calc(100% + 5px);
                        background-position-y: 50%;
                        padding: 5px;
                        border: 3px solid var(--color-primary);
                        background-color: var(--color-primary-lighter);
                        display: flex;
                        font-size: 0.75rem;
                        font-family: var(--font-family);
                        font-weight: bold;
                        color: var(--color-black);
                        @media (min-width :335px){
                            padding: 14px 14px 14px 7px;
                        }
                        &:focus, &:hover{
                            background-color: var(--color-active-filter);
                            border-color: var(--color-active-filter-border);
                            outline-color: var(--color-active-filter-border);
                            &+label{
                                color: var(--color-active-filter-border);
                            }
                        }
                    }
                    label.filter-dish-label{
                        width: 89px;
                        font-size: 0.75rem;
                        font-weight: bold;
                        @media (min-width :335px){
                            font-size: 1rem;
                        }
                    }
                }
            }
            @media (min-width: 940px){
                display: flex;
                gap: 0.875rem;
                padding: 35px 60px 15px 60px;
                .button-form-container{
                    grid-row: initial;
                }
            }
            
        }
        /* The div with all the dish images */
        ul.filter-dish-list{
            position: absolute;
            top: 100%;
            background-color: var(--color-grey);
            width: 100%;
            list-style-type: none;
            left: 0;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            column-gap: 3rem;
            padding: 1rem 60px;
            row-gap: 1rem;
            display: none;
            .filter-dish-list-item{
                a{
                    background-color: var(--color-grey-light);
                    border: 2px solid var(--color-primary-light);
                    display: grid;
                    grid-template-rows: 1fr 46px;
                    align-items: center;
                    text-align: center;
                    color: var(--color-black);
                    font-weight: bold;
                    transition: 0.2s ease;
                    img.filter-dish-list-item-image{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-bottom: 2px solid var(--color-primary-light);
                    }
                    &:focus, &:hover{
                        background-color: var(--color-active-filter);
                        border-color: var(--color-active-filter-border);
                        outline-color: var(--color-active-filter-border);
                        color: var(--color-active-filter-border);
                        scale: 1.05;
                        img.filter-dish-list-item-image{
                            border-bottom: 2px solid var(--color-active-filter-border);
                        }          
                    }
                }
                &.selected{
                    a{
                        background-color: var(--color-active-filter);
                        border-color: var(--color-active-filter-border);
                        outline-color: var(--color-active-filter-border);
                        color: var(--color-active-filter-border);
                        scale: 1.05;
                        img{
                            border-bottom: 2px solid var(--color-active-filter-border);
                        }
                    }
                }
            }
        }
        &:has(.filter-dish-list-toggler:checked) .filter-dish-list{
            display: grid;
        }
    }
}